
.topHeader {
  display: flex;
  background: #F55A5A;
  color: white;
  justify-content: center;
  align-items: center;
  height: 55px;
}

.topHeader > img {
  margin-right: 7px;
  width: 24px;
}

.topHeader > h1 {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Inter;
}

.entry-item {
  width: 90%;
  height: 198px;
  margin: 20px auto;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  padding: 5px 20px;
  /* padding-left: 10px; */
}

.entry-item > .details {
  padding: 8px 0px;
  width: auto;
  height: 100%;
}

.entry-item > .img {
  width: auto;
  height: 100%;
}

.entry-item > .img > img {
  border-radius: 5px;
  width: 125px;
  height: 100%;
  padding-right: 20px;
  object-fit: cover;
}

.details > .top {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.top > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top > div > img {
  padding-right: 5px;
}

.details > loc, .details > .bottom > .date {
  font-weight: 500;
  margin: 0px;
  font-size: larger;
}

a {
  color: black;
  text-decoration: underline;
}

.bottom {
  margin: 0px;
}